@font-face {
    font-family: Sahel;
    src: url(/font/sahel-font-v1.0.0-alpha9/Sahel-Black.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #222;
}

/* Header */

.head-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about-head {
    width: 80%;
    background: #006400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: -20px;
}

.head-box h2 {
    font-family: Sahel;
    font-size: 20px;
    color: #fafafa;
    padding: 30px 0;
    margin: 10px 0;
}

/* Main */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Main Text */
.main-box {
    width: 100%;
    display: flex;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    text-align: right;
}

.main-text {
    width: 90%;
    background: #006400;
    padding: 20px 10px;
    border-radius: 20px;
    color: #fafafa;
    font-family: Sahel;
    font-size: 12px;
    line-height: 20px;
}

/* Footer */

.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  
  .footer-end a {
    text-decoration: none;
    border: 1px solid #006400;
    background: #006400;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  
  .footer-end h2 {
    font-family: Sahel;
    color: #fafafa;
    font-size: 20px;
  }
  
  .footer-end h2:hover {
    color: #222;
  }