/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');
 
@font-face {
    font-family: Sahel;
    src: url(/font/sahel-font-v1.0.0-alpha9/Sahel-Black.ttf);
  }

* {
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #222;
}

/* Header */
header .contact-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

header .contact-head img {
    width: 25%;
    margin: 20px 0;
}

header .contact-head h2 {
    font-family: Sahel;
    color: #006400;
    margin: 20px 0;
    border-bottom: 2px solid #006400;
    border-top: 2px solid #006400;;
}

header .contact-head h2:hover {
    color: #222;
}

/* Main */

.contact-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    justify-content: center;
}

.contact-container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #556B2F;
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form-container h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea
{
    width: 100%;
    border: none;
    outline: none;
    background: #bc8a5f;
    padding: 10px;
    font-size: 0.9rem;
    color: #fafafa;
    border-radius: 0.4rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send-button {
    border: none;
    outline: none;
    background: #006400;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-button:hover {
    transition: 0.3s all linear;
    color: #222;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* Footer */
.contact-footer {
    width: 100%;
    margin-bottom: 10px;
}

.contact-footer .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 30px;
    transition: all 1.3s linear;
}

.contact-footer .social-media i {
    border: 1px solid #222;
    background: #006400;
    border-radius: 50%;
    padding: 10px 10px;
    border: none;
    color: #fafafa;
    cursor: pointer;
}

.contact-footer .social-media i:hover {
    color: #333;
}

/* Making responsive */
@media (max-width: 946px) {
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 700px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .map iframe {
        height: 400px;
    }
}