@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  background-color: #bc8a5f;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: left;
}

/* Logo  */

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.logo-container img {
  width: 35%;
}

/* Main Menu */
.main-emenu {
    width: 100%;
    display: flex;
  }
  
  .title-emenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2px 50px;
  }
  
  .title-emenu img {
    width: 3.5%;
  }
  
  .title-emenu h2 {
    font-family: 'Saira Extra Condensed';
    color: #006400;
    border-bottom: 2px solid #006400  ;
  }
  
  .title-emenu .et1 {
    margin-top: 25px;
  }
  
  .main-esubtitle {
    display: flex;
    justify-content: left;
    margin: 12px 50px;
  }
  
  .main-esubtitle h3 {
    font-family: 'Saira Extra Condensed';
    font-size: 14px;
  }

  .main-esubtitle h5 {
    font-family: 'Saira Extra Condensed';
    font-size: 14px;
  }
  
  .main-esubtitle span {
    color: #006400;
    margin: 0 5px;
  }
  
  .footer-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 40px 0;
  }
  
  .footer-extra img {
    width: 5%;
    margin: 10px 0;
  }
  
  .footer-extra p {
    font-family: 'Saira Extra Condensed';
    font-size: 15px;
    margin: 25px 0;
  }
  
  .footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .footer-end a {
    text-decoration: none;
    border: 1px solid #00b755;
    background: #00b755;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 30px;
  }
  
  .footer-end h2 {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #fafafa;
    font-size: 30px;
  }

  .footer-end h2:hover {
    color: #222;
  }

  /* Scroll To Top */
  .scrolltop {
    position: fixed;
    bottom: 30px;
    right: 10px;
    padding: 10px 15px;
    background-color: transparent;
    color: #006400;
    border-radius: 5px;
    border-radius: 1px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }
  
  .scrolltop i {
    font-size: 24px;
    color: #006400;
    border-bottom: 9px dotted #222;
  }
  
  .scrolltop:hover {
    color: #222;
  }

  /* Main Hot Drink */

  .hot-etitle {
    display: flex;
    justify-content: left;
    margin: 10px 50px;
    border-bottom: 1px solid #006400;
  }

  .hot-etitle h2 {
    color: #006400;
  }

  .english-hot {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .english-hot h3 {
    font-size: 15px;
    margin: 0px 50px;
  }

  .english-hot p {
    font-size: 15px;
    margin: 0px 50px;
    color: #111;
  }

  .english-hot span {
    color: #006400;
    margin: 0 10px;
  }

  @media (max-width: 600px) {
    .title-emenu {
        margin: 10px 20px;
      }
    
      .title-emenu img {
        width: 10%;
      }
    
      .title-emenu h2 {
        font-size: 20px;
        padding: 0;
      }

      .main-esubtitle {
        margin: 7px 20px;
      }
    
      .subtitle-emenu h3 {
        font-size: 15px;
      }
    
      .subtitle-emenu h5 {
        font-size: 12px;
      }

      .footer-extra {
        margin: 50px 0;
      }
    
      .footer-extra img {
        width: 10%;
        margin: 0px 0;
      }
    
      .footer-extra p {
        margin: 10px 0;
      }
    
      .footer-end h2 {
        font-size: 18px;
      }
        /* Hot Drink */
      .hot-etitle {
        margin: 10px 10px ;
      }

      .hot-etitle h2 {
        font-size: 15px;
      }

      .english-hot h3 {
        font-size: 14px;
        margin: 0 10px;
      }

      .english-hot span {
        margin: 0 3px;
        font-size: 12px;
      }

      .english-hot p {
        font-size: 12px;
        margin: 0 10px;
      }
  }