@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  background-color: #bc8a5f;
}

@font-face {
    font-family: Sahel;
    src: url(/font/sahel-font-v1.0.0-alpha9/Sahel-Black.ttf);
  }

  @font-face {
    font-family: Sahel1;
    src: url(/font/sahel-font-v1.0.0-alpha9/Sahel-Bold.ttf);
  }

/* Logo */
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.logo-container img {
  width: 35%;
}

  
/* Main Menu */
.main-menu {
  width: 100%;
  display: flex;
}

.title-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2px 50px;
}

.title-menu img {
  width: 3.5%;
}

.title-menu h2 {
  font-family: Sahel;
  color: #006400;
  border-bottom: 2px solid #006400  ;
}

.title-menu .t1 {
  margin-top: 25px;
}

.main-subtitle {
  display: flex;
  justify-content: right;
  margin: 12px 50px;
}

.main-subtitle h3 {
  font-family: sahel1;
  font-size: 14px;
}

.main-subtitle span {
  color: #006400;
  margin: 0 5px;
}

.footer-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 40px 0;
}

.footer-extra img {
  width: 5%;
  margin: 10px 0;
}

.footer-extra p {
  font-family: sahel;
  font-size: 10px;
}

.footer-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.footer-end a {
  text-decoration: none;
  border: 1px solid #00b755;
  background: #00b755;
  padding: 10px 20px;
  border-radius: 10px;
}


.footer-end h2 {
  font-family: Sahel;
  color: #fafafa;
  font-size: 20px;
}

.footer-end h2:hover {
  color: #222;
}

/* Main Hot Drink */
.hot-title {
  display: flex;
  justify-content: right;
  margin: 10px 50px;
  border-bottom: 1px solid #006400;
}

.hot-title h2 {
  font-family: Sahel;
  color: #006400;
}

.main-hot {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}

.main-hot h3 {
  font-size: 15px;
  font-family: Sahel1;
  margin: 0px 50px;
  font-weight: 400;
}

.main-hot span {
  color: #006400;
  margin: 0 10px;
  font-weight: bold;
  font-size: 15px;
}

.main-hot p {
  font-size: 15px;
  font-family: Sahel1;
  margin: 0px 50px;
  color: #111;
}

/* ScrollTop */
.scrolltop {
  position: fixed;
  bottom: 30px;
  left: 10px;
  padding: 10px 15px;
  background-color: transparent;
  color: #006400;
  border-radius: 5px;
  border-radius: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.scrolltop i {
  font-size: 24px;
  color: #006400;
  border-bottom: 9px dotted #222;
}

.scrolltop:hover {
  color: #222;
}

@media (max-width: 600px) {
  /* Extra */
  .title-menu {
    margin: 10px 20px;
  }

  .title-menu img {
    width: 10%;
  }

  .title-menu h2 {
    font-size: 15px;
    padding: 0;
  }

  .main-subtitle {
    margin: 7px 20px;
  }

  .subtitle-menu h3 {
    font-size: 11px;
  }

  .subtitle-menu h5 {
    font-size: 10px;
  }

  .footer-extra {
    margin: 50px 0;
  }

  .footer-extra img {
    width: 10%;
    margin: 0px 0;
  }

  .footer-extra p {
    margin: 5px 0;
  }

  .footer-end h2 {
    font-size: 14px;
  }
  /* Hot Drink */
  .hot-title {
    margin: 10px ;
  }

  .hot-title h2 {
    font-size: 15px;
  }

  .main-hot h3 {
    font-size: 12px;
    margin: 0 10px;
  }

  .main-hot span {
    margin: 0 3px;
    font-size: 11px;
    font-weight: bold;
  }

  .main-hot p {
    font-size: 10px;
    margin: 0 10px;
  }
}