@font-face {
    font-family: Sahel;
    src: url(/font/sahel-font-v1.0.0-alpha9/Sahel-Black.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #222;
}

/* Logo */
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.logo-container img {
    width: 15%;
}

/* Main Box */
.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 2px dotted #00b755;
    margin: 100px 0;
    height: 0;
}

.box {
    width: 30%;
    height: 100px;
    background: #00b755;
    padding: 15px 0;
    border-radius: 20px;
    cursor: pointer;
}

.box a {
    text-decoration: none;
    font-size: 20px;
    font-family: Sahel;
    color: #fafafa;
    letter-spacing: 3px;
}

.box a:hover {
    color: #333;
}


@media (max-width: 500px) {
    .logo-container img {
        width: 30%;
    }

    .box {
        margin: 80px 0;
        width: 70%;
    }
    
    .scrollTop img {
        width: 10%;
    }
}

/* Footer */

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #00b755;
}

.social-media a {
    color: #00b755;
    margin: 0 10px;
}

.social-media i {
    font-size: 50px;
    margin-top: -30px;
}

.social-media i:hover {
    color: #fafafa;
}

/* Scroll Top */

.scrollTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100000;
    cursor: pointer;
}

.scrollTop a {
    font-size: 25px;
    color: #00b755;
}

.scrollTop img {
    width: 8%;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100000;
    cursor: pointer;
    color: #00b755;
}